@{
    ViewBag.Title = "Project Group Information";
}

<main class="d-flex flex-column justify-content-center align-items-center vh-100">
    <h1 class="text-center" style="font-size: 4rem; font-weight: bold;">Welcome to Lukas' Study Group</h1>
    <p class="text-center mt-4" style="font-size: 2rem; color: #555;">Meet our members (this is not a hyperlink)</p>
</main>
